/* rubik-regular - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/rubik-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/rubik-v20-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v20-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-700 - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/rubik-v20-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v20-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Rubik','Arial', sans-serif;
}

.container {
	width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}
.btn:hover {
cursor: pointer;
}.btn {
	border: none;
}
img {
	vertical-align: middle;
}

body a {
	text-decoration: none;
}

.header-top {
	padding: 30px 0;
	background-color: #F6F6F6;

}

.header-top-inner {
	display: flex;
	justify-content: space-between;
}

.header-top .container .header-left,
.header-right {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.header-top .header-right .form {
	display: flex;
	align-items: center;
	position: relative;
}
.header-top .header-right .form .search-btn {
	border: none;
	position: absolute;
	background-color:transparent;
  left: 10px;
}
.header-top .header-right .form .search-btn:hover {
cursor: pointer;
}
.header-top .header-right .form .serch {
	outline: transparent;
	width: 275px;
	background-color: #fff;
	display: flex;
	align-items: center;
	border-radius: 50px;
	padding: 13px 15px 13px 41px;
	border: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #8D8D8D;
}
/* .header-top .header-right .serch::before {
content: "";
width: 20px;
height: 20px;
position: absolute;
background-image: url("../images/search.svg");


} */



.header-top .list {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}

.header-top .list .first-symbol {
	margin-right: 25px;
	margin-left: 35px;
}

.header-top .list .list-item {
	color: #555;
}

.header-top .list .list-item .text {
	font-weight: bold;
	color: #355AD1;
}

.header-top .chekbox {
	background-color: #DCE6FF;
	width: 70px;
	padding: 3px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	margin: 0 25px;
}

.header-top .header-right .chekbox .uz {
	padding: 7px;
	background-color: #fff;
	border-radius: 15px;
	text-align: center;

}

.header-top .chekbox .uz .link {
	color: #000;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
}

.header-top .chekbox .ru .link {
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	color: #A6A6A6;
	margin-left: 8px;
}

.header-top .btn {
	color: #fff;
	background-color: #7296EC;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	padding: 13px 20px;
}

.header-bottom .navbar .nav-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 30px 0 20px 0;
	margin: 0;
	border-bottom: 1px solid #D1D1D1;
}

.header-bottom .navbar .nav-list .list-item .item-link {
	color: #7F7F7F;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
}

.main .aside {
	margin-top: 40px;
}

.main .sectiont-one .list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 50px 0 60px 0;
	padding: 0;
}

.main .sectiont-one .list .list-item {
	margin-bottom: 10px;
}

.main .sectiont-one .list .list-item .card {
	width: 394px;
	background-color: #F6F6F6;
	border-radius: 15px;
	padding: 20px 16px;
}

.main .sectiont-one .list .list-item .card .data {
	display: flex;
	margin-top: 15px;
}

.main .sectiont-one .list .list-item .card .link .title {
	margin: 0;
}

.main .sectiont-one .list .list-item .card .link {
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	color: #000;

}

.main .sectiont-one .list .list-item .card .data img {
	margin-right: 10px;
}

.main .sectiont-one .list .list-item .card .data .blenk {

	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #5E5F61;
}

.main .sectiont-one .list .list-item .card .text {
	margin: 10px 0 15px 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #4A4B4C;
}

.main .article .card {
	background-image: url("../images/group\ .png");
	padding: 25px 30px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 1050px;
	height: 100px;
	border-radius: 15px;
}

.main .article .card .btn {
	color: #fff;
	background-color:
		#F78B3B;
	padding: 13px 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.main .section-tuo .title {
	margin-top: 60px;
	margin-bottom: 20px;
}

.main .section-tuo .news {
	display: flex;
	justify-content: space-between;
}

.main .section-tuo .news-list .list {
	list-style: none;
	margin: 0;
	padding: 0;

}

.main .section-tuo .news-list .list .list-item {
	width: 797px;
	background-color:
		#F6F6F6;
	border-radius: 15px;
	padding: 20px 17px;
	margin: 0 0 10px 0;
}

.main .section-tuo .news-list .list .list-item .card {
	display: flex;
	align-items: center;

}

.main .section-tuo .news-list .list .list-item .card .card-left {
	padding: 0 0 0 15px;
}

.main .section-tuo .news-list .list .list-item .card .card-left .link .card-title {
	margin: 0;
}

.main .section-tuo .news-list .list .list-item .card .card-left .link {
	color: #000;
}

.main .section-tuo .news-list .list .list-item .card .card-left .text {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #4A4B4C;
	margin: 10px 0 20px 0;
}

.main .section-tuo .news-list .list .list-item .card .card-left .blenk {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #5E5F61;
}

.main .section-tuo .btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #000;
	background-color: #EAEAEA;
	width: 100%;
	padding: 17px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	margin-bottom: 100px;
}

.main .section-tuo .lists {
	background-color: #F6F6F6;
	border-radius: 15px;
	padding: 20px 17px;
	margin-bottom: 10px;
}

.main .section-tuo .lists .news-title {
	margin: 20px 0 8px 0;
	margin: 12px 0 20px 0;
}

.main .section-tuo .lists .list {
	list-style: none;

	margin: 0;
	padding: 0;
	width: 360px;

}

.main .section-tuo .lists .list .list-item .news-blank {
	margin: 0 0 20px 0;
}

.main .section-tuo .lists .list .list-item .link .news-title {
	margin-bottom: 8px;
}

.main .section-tuo .lists .list .list-item .link {
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #000;

}

.main .section-tuo .lists .list .list-item .blank {
	color: #5E5F61;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
}

.footer {
	background-color: #7297EF;
	color: #fff;
	padding: 40px;
}

.footer .footer-top {
	display: flex;
	justify-content: space-between;
}

.footer .footer-top .text {
	width: 229px;
}

.footer .footer-top .list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer .footer-top .list .list-item .item-link {
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	line-height: 39px;
}

.footer .footer-bottom {
	display: flex;
	justify-content: space-between;
	padding: 20px 0 40px 0;
}
.footer .footer-bottom .text {
 margin: 0;
}

.footer .footer-bottom .list {
	display: flex;
	width: 150px;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}
.hero {
	padding: 60px 0 100px 0;
}
.hero .title {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
}
.hero .gmail {
	display: flex;
	justify-content: space-between;
}
.hero .gmail .form {
	width: 696px;
}
.hero .gmail .form .form-group {
	display: flex;
	justify-content: space-between;
}
.hero .gmail .form  input {
	width: 100%;
	height: 55px;
	padding: 18px 20px;
	border: 1px solid #00000033;
	border-radius: 10px;
	margin-bottom: 10px;
}
.hero .gmail .form  input::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	opacity: 0.5;
}
.hero .gmail .form  input:nth-child(1) {
	margin-right: 10px;
	
}
.hero .gmail .form  .textarea {
	width: 100%;
	height: 180px;
	border: 1px solid #00000033;
	border-radius: 10px;
	padding: 18px 20px;
	resize: none;
}
.hero .gmail .form  .textarea::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	opacity: 0.5;
}
.hero .gmail .lists {
	width: 494px;
}
.hero .gmail .lists .list {
	margin: 0;
	padding: 20px 25px;
	list-style: none;
	background-color: #F6F6F6;
	border-radius: 10px;
}
.hero .gmail .lists .list .list-item {
	border-bottom: 1px solid #D2D2D2;
	padding: 20px 0;
}
.hero .gmail .lists .list .list-item:nth-child(3) {
	border: none;

}
.hero .gmail .lists .list .list-item .title {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	margin: 0 0 7px 0;
	
}
.hero .gmail .lists .list .list-item .link {
	font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;

}
.hero .buttom {
display: flex;
justify-content: flex-end;
margin-top: 20px;
}
.hero .buttom .btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #fff;
	padding: 17px 30px;
	background-color: #7297EF;
	border-radius: 10px;
	display:inline-block;
border: none;

}
.hero .buttom .btn:hover {
 cursor: pointer;
}